<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<h1>Contact</h1>
<p> <%= link_to image_tag('gmail.png', alt: "Gmail") %> Email: macbaszii@gmail.com <br/>
	<%= link_to image_tag('Blogger Icon.jpg', alt: "Blogger") %> Website: http://www.macbaszii.com <br/>
	<%= link_to image_tag('facebook-icon.jpg', alt: "Facebook") %> Facebook: http://www.facebook.com/baszii <br/>
	<%= link_to image_tag('twitterg.png', alt: "Twitter") %> Twitter: @iMacbaszii</p>