<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1> Welcome to Sample App with Ruby on Rails </h1>
	<h2>
		This is a Home Page for the Sample Web Application <br />
		Create by iMacbaszii (<a href="http://www.macbaszii.com"> http://www.macbaszii.com </a>)
	</h2>
	
	<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary"%>
</div>
<P> Powered by </P><%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>